.Admin {
  width: 100%;
  padding: 0 7.32%;

  display: flex;
  justify-content: space-evenly;
}

.Admin > * {
  height: 70px;
  width: 300px;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  border: solid 1px var(--blue-supertransparent);
  background-color: var(--white-semitransparent);
  color: var(--blue-lightened);
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;

  transition: border-color 0.1s ease-out;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Admin > *:hover {
  border-color: var(--blue);
}

.Admin > *:hover {
  border-color: var(--blue);
}


@media (max-width: 700px) {
  .Admin {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .Admin > * {
    width: 100%;
  }
}