.OrderDetails {
  margin: 85px 7.32% 50px 7.32%;
  border-top: 2px solid var(--blue-lightened);
  border-bottom: 2px solid var(--blue-lightened);
  background-color: var(--white-semitransparent);

  font-size: 1.3rem;
  font-weight: 300;

  /* Layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.orderInfo {
  padding: 20px;
  line-height: 170%;
  border-bottom: 2px solid var(--blue);

  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
}

.orderInfo span {
  min-width: 205px;
  display: block;
  text-align: center;
  line-height: 50px;

  flex-grow: 1;
}

.prices {
  border: none;
}

.orderItemsContainer {
  border-bottom: 1px solid var(--blue-supertransparent);
  padding: 20px;
}

.orderItemsContainer h2 {
  line-height: 170%;
}

.orderItems {
  padding: 10px;
  overflow-x: auto;

  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.orderItems > * {
  margin: 10px 5px;
}

.additional {
  padding: 20px 0;

  display: flex;
  justify-content: center;
}
